.fondo{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./../imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cohete{
    background-image: url("./../imagenes/coheteFurioso.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 7.5vw;
    height: 5vw;
    position: absolute;
}
.boo{
    background-image: url("./../imagenes/KingBoo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 7.5vw;
    height: 5vw;
    position: absolute;
}


/* Estilos generales del botón futurístico pero no mucho */
.futuristic-button {
    border: 2px solid white;
    padding: 1vw;
    border-radius: 0.4vw;
    margin: 3vw;
    background-color: transparent;
    font-weight: bold;
    color: white;
    font-size: large;
    transition: box-shadow 0.3s linear;
}

/* Animación */
.futuristic-button:hover {
    box-shadow: 5px 5px 0 white;
    color: orange;
    border: 2px solid orange;
}


.button-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}